/* .aa_advance_search {
  display: inline;
  float: left;
  width: 100%;
}
.aa_advance_search .aa_advance_search_area {
  background-color: rgba(221, 221, 221, 0.8);
  border-radius: 10px 10px 0 0;
  display: inline;
  float: left;
  margin-top: -100px;
  min-height: 200px;
  padding: 25px 20px;
  position: relative;
  width: 100%;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.aa_advance_search .aa_advance_search_area .aa_advance_search_top {
  display: inline;
  float: left;
  width: 100%;
}
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_top
  .aa_single_advance_search {
  display: inline;
  float: left;
  width: 100%;
}
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_top
  .aa_single_advance_search
  input[type="text"] {
  border: 1px solid #fff;
  border-radius: 2px;
  color: #555;
  height: 40px;
  padding: 5px;
  width: 100%;
  font-size: 18px;
}
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_top
  .aa_single_advance_search
  select {
  border: 1px solid #fff;
  border-radius: 2px;
  color: #555;
  height: 40px;
  padding: 5px;
  width: 100%;
}
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_top
  .aa_single_advance_search
  .aa_search_btn {
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  outline: medium none;
  text-transform: uppercase;
  width: 100%;
}
.aa_advance_search .aa_advance_search_area .aa_advance_search_bottom {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_bottom
  .aa_single_filter_search {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_bottom
  .aa_single_filter_search
  span {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  margin: 0 10px;
}
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_bottom
  .aa_single_filter_search
  .noUi-connect {
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.45) inset;
  transition: background 450ms ease 0s;
}
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_bottom
  .aa_single_filter_search
  .noUi-handle {
  border: none;
  border-radius: 50%;
  box-shadow: none;
  height: 25px;
  left: -17px;
  top: -12px;
  width: 25px;
}
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_bottom
  .aa_single_filter_search
  .noUi-handle:after,
.aa_advance_search
  .aa_advance_search_area
  .aa_advance_search_bottom
  .aa_single_filter_search
  .noUi-handle:before {
  display: none;
} */

.body {
  background-color: rgba(221, 221, 221, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-direction: column;
  top: 50px;
}

.search_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin-bottom: 20px;
  width: 80%;
  padding: 10px;
  border-radius: 8px;
}

.input_field {
  padding: 10px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.dropdown {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  width: 150px;
}

.search_btn {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.range_container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.range_slider {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.range {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.slider {
  width: 100px;
  margin: 0 10px;
}
